/* logo */
.logo {
  display: block;
  float: left;
  height: 60px;
  width: 250px;
  margin-left: 50px;
  margin-top: 10px;
}

.logo h1 {
  text-transform: uppercase;
  font-weight: 700;
}
/* logo */

/* nav item */
.nav-item {
  display: inline-block;
  padding: 20px 50px;
  border-left: 1px solid #dae3e6;
  height: 60px;
}
.nav-item-icon {
  font-size: 16px;
  padding: 2px 6px;
}

.nav-item h4 {
  float: right;
  font-size: 14px;
  font-weight: 600;
}
/* nav item */

/* nav custom item */
.nav-custom-item {
  display: inline-block;
  border-left: 1px solid #dae3e6;
  height: 60px;
  padding: 8px 50px;
}
.user-info {
  text-align: right;
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}
.user-info h4 {
  font-size: 16px;
  line-height: 0.7;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.user-info h5 {
  font-size: 14px;
  font-weight: 600;
}
.nav-custom-item img {
  width: 42px;
  height: 42px;
  border-radius: 24px;
}

.down {
  color: #585d54;
  font-size: 14px;
  margin-left: 5px;
}
/* nav custom item */
