@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
.container {
  height: 100%;
  border-right: 1px solid #000;
}

.blue-gradient-color {
  background: linear-gradient(to bottom, #0092ffaa, #0078ff, #005eff);
}
.diag {
  height: 350px;
  width: 350px;
  display: inline-block;

  background: linear-gradient(to bottom, #0092ffcc, #0078ff, #005eff);
}
