@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}
.container {
  height: 100%;
  border-right: 1px solid #000;
}

.blue-gradient-color {
  padding-bottom: 50px;
  background: linear-gradient(to bottom, #0092ff, #0078ff, #005eff);
}
.shadow {
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: all 0.8s;
  box-shadow: 5px 5px #cccccc80;
  z-index: 0;
}
svg {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
}
